/* 对 el-form 样式 优化 */
.agel-form .el-form-item {
  margin-bottom: 18px;
}
.agel-form.el-form--label-top .el-form-item__label {
  padding: 0px;
}
.agel-form .el-slider__runway {
  margin: 12px 0px;
}

/* 对 checkbox radio 在 label-top 情况下的展示优化*/
.agel-form.el-form--label-top .form-item-agel-checkbox .el-form-item__content,
.agel-form.el-form--label-top .form-item-agel-radio .el-form-item__content {
  display: inline-block;
}
.agel-form.el-form--label-top .form-item-agel-checkbox .el-form-item__label,
.agel-form.el-form--label-top .form-item-agel-radio .el-form-item__label {
  display: inline-block;
  padding: 0px 12px 0px 0px;
}

.agel-form-inline {
  display: inline-block;
}
.agel-form-grid .el-row--flex {
  flex-wrap: wrap;
}
.agel-form-desc .el-form-item{
  margin-bottom: 0px;
}
.agel-form-desc .required-label:before {
  content: "*";
  color: #f56c6c;
  margin-right: 4px;
}


/* 表单组件撑满容器宽度 */
.agel-item-w100 .el-date-editor.el-input,
.agel-item-w100 .el-date-editor.el-input__inner,
.agel-item-w100 .el-select,
.agel-item-w100 .el-cascader,
.agel-item-w100 .el-input-number,
.agel-item-w100 .el-autocomplete {
  width: 100%;
}

/* 调整 loading 在 form-item 中的表现 */
.agel-options-loading {
  width: inherit !important;
  height: inherit !important ;
}
.agel-item-loading .el-loading-mask {
  background-color: rgba(255, 255, 255, 0.5);
}
.agel-item-loading .el-loading-mask .el-loading-spinner {
  top: 0px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.agel-item-loading .el-loading-spinner .circular {
  width: 20px;
  height: 20px;
}